<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <div class="bgtoolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="center">IT Shop</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/product/15promax.webp" alt="">
        <ion-label>
          <div class="center">
          iPhone 15 Pro Max <br>
          ราคา 44,900 <br>
          <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
        </div>
        </ion-label>
      </ion-col>
      <ion-col>
        <img src="assets/product/f23fe.webp" alt="">
        <div class="center">
          Samsung F23 Fe <br>
          ราคา 24,990 <br>
          <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="center">
        <img src="assets/product/ipadair5.webp" alt="">
        Ipad Air5 <br>
        ราคา 36,690 <br>
        <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
      </div>
      </ion-col>
      <ion-col>
        <div class="center">
        <img src="assets/product/mi-14tpro.jpg" alt="">
        Xiaomi 14Tpro <br>
        ราคา 12,900 บาท <br>
        <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <div class="center">
        <img src="assets/product/mipad5.jpg" alt="">
        Xiaomi Ipad5 <br>
        ราคา 32,990 บาท <br>
        <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
      </div>
      </ion-col>
      <ion-col>
        <div class="center">
        <img src="assets/product/s24.webp" alt="">
        Samsung S24 Ultra<br>
        ราคา 25,499 บาท <br>
        <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="center">
        <img src="assets/product/ts9.jpg" alt="">
        Galaxy Tab S9 <br>
        ราคา 10,200 บาท <br>
        <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
      </div>
      </ion-col>
      <ion-col>
        <div class="center">
        <img src="assets/product/vivo-y20.png" alt="">
        Vivo Y20 <br>
        ราคา 6,900 บาท <br>
        <ion-button><ion-icon name="cart-sharp"></ion-icon>สั่งซื้อ</ion-button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 </div>
</ion-content>
